<!DOCTYPE html>
<html class="<%= current_page.data.theme_name %> <%= current_page.data.html_class %> <%= "ls-pre-panel" if current_page.data.pre_panel %>">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title><%= current_page.data.title %></title>
  <meta name="description" content="<%= current_page.data.description %>" />
  <meta name="keywords" content="<%= current_page.data.keywords %>" />

  <link href="http://assets.locaweb.com.br/locastyle/3.2.2/stylesheets/locastyle.css" rel="stylesheet" type="text/css">

</head>
<body class="<%= page_classes %>">

  <%= partial "documentacao/shared/topbar" %>

  <aside class="ls-sidebar">
      <nav class="ls-menu">
      <ul>
         <li> <a href="<%= base_url %>/documentacao/exemplos/painel1/pre-painel" class="ls-ico-envelope">Revenda do Email Marketing</a></li>
       </ul>
    </nav>
  </aside>

  <main class="ls-main <%= current_page.data.body_class %>">
    <div class="container-fluid">
      <%= yield %>
    </div>

    <%= partial 'documentacao/shared/footer' %>
  </main>


  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="http://assets.locaweb.com.br/locastyle/3.2.2/javascripts/locastyle.js" type="text/javascript"></script>


  <script type="text/javascript">
    $(window).load(function() {
      locastyle.browserUnsupportedBar.init();
    });
  </script>

</body>
</html>
