---
title: Pré Painel
layout: panel
new_top: true
show_topbar_title: true
pre_panel: true
layout: panel
theme_name: ls-theme-gold
panel: painel2
title_product: Revenda do Email Marketing
---

<h1 class="ls-title-intro ls-ico-list2">Contas</h1>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/bh/home" >MaisWeb Belo Horizonte</a>
      <small>Revenda Email Marketing </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/bh/home" class="ls-btn-primary ls-btn-sm">Administrar</a>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/rj/home" >MaisWeb Rio de Janeiro</a>
      <small>Revenda Email Marketing </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/rj/home" class="ls-btn-primary ls-btn-sm">Administrar</a>
    </div>
  </header>
</div>

<div class="ls-list">
  <header class="ls-list-header">
    <div class="ls-list-title col-md-4">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/sp/home" >MaisWeb São Paulo</a>
      <small>Revenda Email Marketing </small>
    </div>
    <div class="col-md-3 col-md-offset-5 ls-txt-right">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/sp/home" class="ls-btn-primary ls-btn-sm">Administrar</a>
    </div>
  </header>
</div>