<% if current_page.data.pre_panel %>
  <h1 class="ls-brand-name ls-ico-envelope"><a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/pre-painel" ><%=  current_page.data.title_product %></a></h1>
<% else %>
  <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
    <a href="#" class="ls-ico-user">
      MaisWeb
      <small>(maisweb)</small>
    </a>
    <nav class="ls-dropdown-nav ls-user-menu">
      <ul>
        <li><a href="#">Meus dados</a></li>
        <li><a href="#">Faturas</a></li>
        <li><a href="#">Planos</a></li>
        <li><a href="#">Sair</a></li>
       </ul>
    </nav>
  </div>
  <!-- Dropdown com detalhes da conta de usuário -->
  <nav class="ls-menu">
    <ul>
      <% if current_page.data.new_top %>
       <li><a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/home" class="ls-ico-dashboard">Dashboard</a></li>
       <% else %>
       <li><a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/home" class="ls-ico-dashboard"><%= current_page.data.user %></a></li>
       <% end %>
       <li><a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/clients" class="ls-ico-users">Clientes</a></li>
       <li><a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/stats" class="ls-ico-stats">Relatórios da revenda</a></li>
       <li class="ls-submenu">
        <a href="#" class="ls-ico-cog">Configurações</a>
        <ul>
          <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/config-domain">Domínios da Revenda</a></li>
          <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/config-email">E-mail de Remetente</a></li>
          <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/config-aspect">Aparência</a></li>
          <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/config-answer">Atendimento</a></li>
          <li><a class="ls-submenu-item" href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/config-api">Chave de acesso para API</a></li>
        </ul>
      </li>
     </ul>
  </nav>
<% end %>
