<% if current_page.data.new_top %>
<div class="ls-topbar ux-new-topbar">
  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <a href="#" class="ls-tooltip-bottom" aria-label="Sugestões" data-ls-module="topbarCurtain" data-target="#ls-help-curtain"><span class="ls-ico-bullhorn"></span></a>
      <a href="#" class="ls-tooltip-bottom" aria-label="Ajuda" data-ls-module="topbarCurtain" data-target="#ls-feedback-curtain"><span class="ls-ico-question"></span></a>
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <a href="#" class="ls-ico-user">
        MaisWeb
      <small>(maisweb)</small>
      </a>
      <nav class="ls-dropdown-nav ls-user-menu">
        <ul>
          <li><a href="#">Meus dados</a></li>
          <li><a href="#">Faturas</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Sair</a></li>
         </ul>
      </nav>
    </div>
  </div>

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <!-- Nome do produto/marca -->
  <%- unless current_page.data.show_topbar_title %>
   <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/pre-painel"  aria-label="Voltar à lista de serviços" class=" ux-back ls-tooltip-right"><span class="ls-ico-chevron-left"></span></a>
    <h1 class="ls-brand-name">
      <a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/<%= current_page.data.alias %>/home" class="ls-ico-envelope"><%=  current_page.data.user %></a>
    </h1>
  <% end %>
</div>
<% else %>

<div class="ls-topbar">

  <!-- Barra de Notificações -->
  <div class="ls-notification-topbar">

    <!-- Links de apoio -->
    <div class="ls-alerts-list">
      <a href="#" class="ls-tooltip-bottom" aria-label="Sugestões" data-ls-module="topbarCurtain" data-target="#ls-help-curtain"><span class="ls-ico-bullhorn"></span></a>
      <a href="#" class="ls-tooltip-bottom" aria-label="Ajuda" data-ls-module="topbarCurtain" data-target="#ls-feedback-curtain"><span class="ls-ico-question"></span></a>
    </div>

    <!-- Dropdown com detalhes da conta de usuário -->
    <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <a href="#" class="ls-ico-user">
        MaisWeb
      <small>(maisweb)</small>
      </a>
      <nav class="ls-dropdown-nav ls-user-menu">
        <ul>
          <li><a href="#">Meus dados</a></li>
          <li><a href="#">Faturas</a></li>
          <li><a href="#">Planos</a></li>
          <li><a href="#">Sair</a></li>
         </ul>
      </nav>
    </div>
  </div>

  <span class="ls-show-sidebar ls-ico-menu"></span>

  <!-- Nome do produto/marca -->
  <%- unless current_page.data.show_topbar_title %>
    <h1 class="ls-brand-name"><a href="<%= base_url %>/documentacao/exemplos/<%= current_page.data.panel %>/pre-painel" class="ls-ico-envelope"><%=  current_page.data.title_product %></a></h1>
  <% end %>
</div>

<% end %>